body{
  font-family: "Crimson Text" ,"serif";
}
.in{
  max-width: 90vw;
  margin: auto;
  margin-top: 3%;
}
.inner{
  max-width: 1000px;
  margin: auto;
  padding: 60px 0 15px 0;
}
img{
  max-width: 100%;
}
li{
  list-style: none;
}
a{
  text-decoration: none;
  color: inherit;
}

.main{
  &-header{
    margin-top: 20px;
    display: flex;
    &-title{
      margin-right: 40px;
    }
    &-list{
      display: flex;
      &-item{
        margin-right: 20px;
      }
    }
  }
}//.main

.concept{
  margin-bottom: 60px;
  &-flex{
    display: flex;
    margin-bottom: 40px;
    align-items: center;
    &-img{
      width: 50%;
    }
    &-desc{
      line-height: 2em;
      padding: 0 8%;
      &-title{
        font-size: 1.3em;
        font-weight: normal;
      }
      &-sub{
        font-size: .8em;
      }
      &-p{
        font-size: .8em;
      }
    }
  }
}

.footer{
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}

@media screen and (max-width: 767px) {
  .in{
    max-width: 100vw;
    margin-top: 0;
  }
  .inner{
    width: 90%;
    margin: auto;
  }
  .main{
    &-header{
      justify-content: space-between;
      &-title{
        margin-left: 40px;
      }
      &-list{
        margin-right: 40px;
      }
    }
  }
  .concept{
    #work{
      flex-direction: column-reverse;
    }
    &-flex{
      flex-direction: column;
      img{
        width: 100%;
      }

      &-desc{
        padding: 5%;
        &-title{
          font-size: 1.2em;
        }
      }
    }
  }

}//@media