@charset "UTF-8";
body {
  font-family: "游ゴシック";
  color: #232323;
  background-color: #f2f2f2;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

a {
  color: inherit;
}

.inner {
  width: 80%;
  margin: auto;
}

.section-title-main {
  font-size: 1.5em;
  font-weight: normal;
  margin-bottom: 15px;
}
.section-title-sub {
  margin-bottom: 15px;
}
.section-title-en {
  font-size: 2em;
  font-weight: normal;
}
.section-title-ja {
  border-bottom: 1px solid #232323;
  width: 100px;
  padding: 15px 0;
}
.section-title-p {
  padding: 15px 0 30px 0;
}

.header {
  padding-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 60px;
}
.header-title {
  margin-left: 30px;
  width: 100px;
}
.header-title-logo {
  border-radius: 10px;
}
.header-nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header-nav-list-item {
  margin-right: 30px;
}

.main {
  height: 100vh;
  background-image: url(../img/aboutメイン.png);
  background-size: cover;
}

.fv-title {
  position: absolute;
  top: 30%;
  left: 33%;
  line-height: 2em;
  display: inline-block;
  padding: 100px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.7);
  -webkit-box-shadow: 0 0 8px #324556;
          box-shadow: 0 0 8px #324556;
}

.fv-sub-flex {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.fv-sub-flex-desc {
  font-size: 1.5em;
  width: 50%;
  margin: auto;
  text-align: center;
}

.philosophy {
  padding: 60px 0;
}
.philosophy-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.philosophy-flex-container {
  text-align: center;
  background-color: #fff;
  padding: 30px;
}
.philosophy-flex-container-title {
  font-size: 1.2em;
  font-weight: normal;
  margin-bottom: 15px;
}
.philosophy-flex-container-desc {
  margin-top: 15px;
  line-height: 1.2em;
}
.philosophy-flex-container:not(:last-child) {
  margin-right: 1%;
}

.mission {
  padding: 60px 0;
  background-color: #fff;
}
.mission-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.mission-flex-container {
  font-size: 1.2em;
  text-align: center;
  width: 50%;
  padding: 100px 0;
  color: #fff;
  background-color: #6A83A4;
}
.mission-origin {
  padding: 30px 0;
  text-align: center;
}
.mission-origin-title {
  line-height: 2em;
}
.mission-origin-title-main {
  font-size: 1.5em;
  font-weight: normal;
}
.mission-origin-img {
  width: 40%;
  margin: auto;
}

.navy {
  background-color: #324556;
}

.greeting {
  padding: 60px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.greeting-left {
  width: 35%;
  margin-right: 2%;
}
.greeting-right {
  margin-top: 30px;
  line-height: 2em;
}
.greeting-right-desc {
  margin-bottom: 30px;
}

.member {
  background-color: #fff;
  padding-bottom: 30px;
}
.member-title {
  padding: 30px 0;
}
.member-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.member-flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 33.3333333333%;
}
.member-flex-container-desc {
  width: 40%;
  padding: 5% 0 0 5%;
}
.member-flex-container-desc-name {
  margin-bottom: 15px;
}
.member-flex-container-desc-bottom {
  padding-top: 150px;
}
.member-flex-container-img {
  width: 60%;
  vertical-align: bottom;
}

.FCDFDF {
  background-color: #FCDFDF;
}

.C5A9A9 {
  background-color: #C5A9A9;
}

.D1E1EF {
  background-color: #D1E1EF;
}

.ABC5D6 {
  background-color: #ABC5D6;
}

.ADB7BF {
  background-color: #ADB7BF;
}

.EEEEEE {
  background-color: #EEEEEE;
}

.F2D3EF {
  background-color: #F2D3EF;
}

.contact {
  background-color: #fff;
  padding: 60px 0;
}
.contact-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.contact-flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.contact-flex-container-desc {
  position: absolute;
}
.contact-flex-container-desc-title {
  font-size: 1.5em;
  font-weight: normal;
  margin-bottom: 15px;
}
.contact-flex-container-desc-p {
  line-height: 1.5em;
}
.contact-flex-container-desc-btn {
  display: inline-block;
  background-color: #232323;
  color: #fff;
  padding: 20px 40px;
}

.footer {
  width: 70%;
  margin: auto;
  padding-top: 30px;
}
.footer-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer-flex-title {
  border-bottom: 1px solid #232323;
  font-weight: normal;
  font-size: 1.5em;
}
.footer-flex-address {
  line-height: 1.5em;
}
.footer-nav-list {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer-nav-list-item {
  margin-right: 30px;
}
.footer-copy {
  font-size: 0.5em;
  text-align: center;
  padding: 30px 0;
}
/*# sourceMappingURL=about.css.map */