body{
  font-family: "游ゴシック";
  color: #232323;
}
img{
  max-width: 100%;
  vertical-align: bottom;
}
a{
  color: inherit;
}
.inner{
  width: 80%;
  margin: auto;
}
.header{
  padding-top: 30px;
  justify-content: space-between;
  height: 60px;
  display: flex;
  align-items: center;
  &-title{
    margin-left: 30px;
    width: 100px;
    &-logo{
      border-radius: 10px;
    }
    }
  &-nav{
    &-list{
      display: flex;
      &-item{
        margin-right: 30px;
      }
    }
  }
}

.contact-form{
  &-title{
    padding: 60px 0;
    text-align: center;
    &-ja{
      font-size: 2em;
      margin-bottom: 15px;
      font-weight: normal;
    }
    &-en{
      font-size: 1.5em;
    }
  }
  &-desc{
    margin: 30px 0;
    line-height: 1.5em;
  }
  &-table{
    width: 100%;
    &-tr{
      border: 1px solid #efefef;
    }
    &-th{
      border: 1px solid #ccc ;
      padding: 50px 0 50px 20px ;
      font-weight: normal;
      text-align: left;
      background-color: #efefef;
    }
    &-textarea{
      padding: 50px 0;
    }
    input, textarea{
      border: 1px solid #E6EEF3 ;
      background-color: #E6EEF3;
      margin-left: 20px;
      background-color: #fff;
    }
    input{
      background-color: #E6EEF3;
      width: 90%;
      padding: 20px;
    }
    textarea{
      display: inline-block;
      padding: 20px;
      padding-bottom: 0;
      width: 90%;
      height: 100px;
      background-color: #E6EEF3;
    }
    input::placeholder,
    textarea::placeholder {
      color: #bbb;
    }
  }
}

.footer{
  width: 70%;
  margin: auto;
  padding-top:30px ;
  &-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-title{
      border-bottom: 1px solid #232323;
      font-weight: normal;
      font-size: 1.5em;
    }
    &-address{
      line-height: 1.5em;
    }
  }
  &-nav{
    &-list{
      margin-top: 30px;
      display: flex;
      &-item{
        margin-right: 30px;
      }
    }
  }
  &-copy{
    font-size: .5em;
    text-align: center;
    padding: 30px 0;
  }
}